= form_for @task do |f|
  - if @task.errors.any?
    #error-explanation
      %h2
        = pluralize(@task.errors.count, 'error')
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %p
    = f.text_field :title, required: true
  .field
    = f.label :body
    %p
    = f.text_area :body, required: true
    %p
      = f.datetime_select :due_time, value: @task.due_time, default: 1.days.from_now
    %p
      .actions
        = f.submit 'Submit', class: 'SubmitButton'
