<%= form_for @task do |f| %>
  <% if @task.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, required: true %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, required: true  %>
  </div>


  <div class="actions">
    <%= f.submit 'Sumbit', class: 'SubmitButton' %>
  </div>
<% end %>
