.task
  %h1= @task.title
  %p= @task.body
= button_to 'Back', tasks_path, method: :get
= button_to 'Edit', edit_task_path(@task), method: :get
= button_to 'Delete', task_path, method: :delete, data: { confirm: 'Are you sure?' }
